<ion-view view-title="Notifications">
  <ion-content>
    
	<div class="list card">

	  <div class="item item-avatar">
	    <img src="img/elim.png">
	    <h2>Let's help this little hero</h2>
	    <p>Elimbarsinbi</p>
	  </div>

	  <div class="item item-image">
	    <img src="img/elimbar2.jpg">
	  </div>

	  <p class="assertive" >
	    We are very willing to help cure little Altynbek's desease. We believe in your mercy and hope we can change his life together. 
	  </p>

	  <button class="button button-full button-energized" ng-click="donateSpecial(1)">
	    It is just 1$
	  </button>

	</div>

  </ion-content>
</ion-view>
