<ion-view view-title="Notifications">
  <ion-content>
    
	<div class="list card">

	  <div class="item item-avatar">
	    <img src="img/elim.png">
	    <h2>Жүрөгү оорукчан Талант</h2>
	    <p>Elimbarsinbi</p>
	  </div>

	  <div class="item item-image">
	    <img src="img/elimbar2.jpg">
	  </div>

	  <p class="item-text-desc">
	    Достор! Талант жүрөк оорусу менен (порок сердца) ооруп, азыркы учурда операция талап кылынат. Талап кылынган акча каражаты: 150 000 сом 
	  </p>

	  <button class="button button-full button-energized" ng-click="donateSpecial()">
	    Дароо жардам берүү - 50 сом
	  </button>

	</div>

  </ion-content>
</ion-view>
