<ion-view view-title="Donate to">
  <ion-content>
    
    <div class="item">
      	<h2>Charity Organization - Elim Barsynby</h2>
   	 	<p>A hand of help</p>
  	</div>
  	<div class="item item-image">
    	<img src="img/elim.png">
  	</div>

  	<button class="button button-block button-positive" ng-click="addTarget('help poor families')">
	  Family
	</button>
	<button class="button button-block button-calm" ng-click="addTarget('help orphans')">
	  Orphans
	</button>
	<button class="button button-block button-balanced" ng-click="addTarget('help children take proper education')">
	  Children Education
	</button>
	<button class="button button-block button-royal" ng-click="addTarget('help invalids')">
	  Invalids
	</button>
	<button class="button button-block button-energized" ng-click="addTarget('help sick people')">
	  Sick people
	</button>
  </ion-content>
</ion-view>