<ion-view view-title="Organization">
  <ion-content>
    <h1>Charity Organizations</h1>
    <div class="item">
      	<h2>Elim Barsynby</h2>
   	 	<p>A hand of help</p>
  	</div>
  	<div class="item item-image">
    	<img src="img/elim.png">
    	<hr>
    	<img src="img/elimbar1.jpg" alt="" style="width:100%">
    	<hr>
    	<img src="img/elimbar2.jpg" alt="" style="width:100%">
  	</div>
  	<p>"Элим барсыңбы?" коомдук кайрымдуулук фонду <br>Благотворительные организации</p>
  </ion-content>
</ion-view>
