<ion-view view-title="Choose what to donate">
  <ion-content ng-init="">
  	
  	<div class="row" ng-repeat="image in staffs" ng-if="$index % 3 === 0">
        <div class="col col-33" ng-if="$index < staffs.length">
            <a href="#/app/staffs/{{staffs[$index].id}}">
            	<img ng-src="{{staffs[$index].picture.thumbnail}}" width="100%" />
            </a>
        </div>
        <div class="col col-33" ng-if="$index + 1 < staffs.length">
            <a href="#/app/staffs/{{staffs[$index].id}}">
            	<img ng-src="{{staffs[$index + 1].picture.thumbnail}}" width="100%" />
            </a>
        </div>
        <div class="col col-33" ng-if="$index + 2 < staffs.length">
            <a href="#/app/staffs/{{staffs[$index].id}}">
            	<img ng-src="{{staffs[$index + 2].picture.thumbnail}}" width="100%" />
            </a>
        </div>
    </div>
  </ion-content>
</ion-view>
