<ion-view view-title="{{stuff.title}}" id="singleStuffPage" >
  <ion-content>
    <div class="" id="imageBack">
        <div class="bg-image">
            <img src="{{stuff.image}}" alt="" style="width:100%; height:100%; ">
        </div>
        <div id="detailsWrapperStuff">
            <div class="stuffTitle">
                {{stuff.title}} - {{total}}$
            </div>

            <div class="amountBlock">
                <span class="decrease" ng-click="decrease()">
                    <i class=" icon ion-chevron-left"></i>
                </span>
                <span class="amount" ng-model="amount">{{amount}}</span>
                <span class="increase" ng-click="increase()">
                    <i class=" icon ion-chevron-right"></i>
                </span>
            </div>
            
            <div class="donateBtn" ng-click="saveDonation()">
                Donate </i>
            </div>
        </div>
    </div>
    <!-- <div class="row">
    	<button class="button icon ion-chevron-up" ng-click="increase()"></button>
    	<input type="number" ng-model="amount">
    	<button class="button icon ion-chevron-down" ng-click="decrease()"></button>
    </div>


    <button class="button button-block button-balanced" ng-click="saveDonation()">
	  Donate {{total}}<i class="icon ion-social-usd" style="font-size: 14px"></i>
	</button> -->
  </ion-content>
</ion-view>
