/* Empty. Add your own CSS if you like */
@font-face {
    font-family: 'Harlow-Solid-Italic';
    src:url('../fonts/Harlow/Harlow-Solid-Italic.ttf.woff') format('woff'),
        url('../fonts/Harlow/Harlow-Solid-Italic.ttf.svg#Harlow-Solid-Italic') format('svg'),
        url('../fonts/Harlow/Harlow-Solid-Italic.ttf.eot'),
        url('../fonts/Harlow/Harlow-Solid-Italic.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}


/* font-family: "MyriadProRegular"; */
@font-face {
    font-family: "MyriadProRegular";
    src: url("../fonts/MyriadProRegular/MyriadProRegular.eot");
    src: url("../fonts/MyriadProRegular/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"),
    url("../fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "MyriadProBold"; */
@font-face {
    font-family: "MyriadProBold";
    src: url("../fonts/MyriadProBold/MyriadProBold.eot");
    src: url("../fonts/MyriadProBold/MyriadProBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadProBold/MyriadProBold.woff") format("woff"),
    url("../fonts/MyriadProBold/MyriadProBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "MyriadProItalic"; */
@font-face {
    font-family: "MyriadProItalic";
    src: url("../fonts/MyriadProItalic/MyriadProItalic.eot");
    src: url("../fonts/MyriadProItalic/MyriadProItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadProItalic/MyriadProItalic.woff") format("woff"),
    url("../fonts/MyriadProItalic/MyriadProItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "MyriadProBoldItalic"; */
@font-face {
    font-family: "MyriadProBoldItalic";
    src: url("../fonts/MyriadProBoldItalic/MyriadProBoldItalic.eot");
    src: url("../fonts/MyriadProBoldItalic/MyriadProBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadProBoldItalic/MyriadProBoldItalic.woff") format("woff"),
    url("../fonts/MyriadProBoldItalic/MyriadProBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}



h1 { 
   font-family: 'Harlow-Solid-Italic';
}  


#profile-bg {
    position: fixed;
    left: 0;
    top: 44px;
    width: 100%;
    height: 150px;

/*     background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/94311/bg.jpg') no-repeat transparent;*/
    background-size: 100%;
    background-position: 50% 20%;

    text-align: center;
  }

  #content {
    position: relative;
    margin-top: 150px;
    background-color: white;
    box-shadow: 0px -1px 10px rgba(0,0,0,0.4);
    padding-top: 200px;
  }

  #profile-info {
    position: absolute;
    top: -95px;
    width: 100%;
    z-index: 2;
    text-align: center;
  }
  #profile-name {
    color: #444;
    font-size: 26px;
  }
  #profile-description {
    font-size: 15px;
    color: #888;
  }
  #profile-description a {
    color: #888;
  }

  #profile-image {
    display: block;
    border-radius: 100px;
    border: 1px solid #fff;
    width: 128px;
    height: 128px;
    margin: 30px auto 0;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.7);
  }

  .list-item-content {
    padding: 5px;
  }

  .list-item {
    color: #666666;
  }

  .post {
    color: #444;
  }

  .post-time {
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 11px;
    color: #888;
  }

  .post-profile-image {
    display: inline-block;
    vertical-align: top;
    width: 48px;
    height: 48px;
    margin-right: 10px;
  }
  .post-options {
    position: absolute;
    font-size: 16px;
    right: 5px;
    bottom: 5px;
    color: #888;
  }

.button .icon:before {
  font-size: 16px;
}

#stuffCardIcons {
  width: 27%;
  display: inline-block;
  vertical-align: top;
  border-radius: 5px;
  background: none;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

#stuffCardIcons:nth-child(3):after {
  clear: both;
}

#stuffCardIcons .stuffIcons {
  width: 100%;
}

#stuffCardIcons .item {
  background: none;
  box-shadow: none;
}

.title.header-item {
  font-family: Harlow-Solid-Italic;
}

.pane {
  background: #319ec5;
}

#detailsWrapperStuff {
  padding: 20px 40px;
  background-color: rgba(56, 126, 245, 0.63);
  margin-top: 100%;
  min-height: 175px;
  width: 100%;
  position: absolute;
}

#detailsWrapperStuff .decrease {

}

#detailsWrapperStuff .amountBlock {
  margin: 0 auto;
  text-align: center;
  font-size: 36px;
  font-weight: 600;
  font-family: Harlow-Solid-Italic;
  color: white;
  margin-bottom: 10px;
}
#detailsWrapperStuff .amountBlock .increase {
  margin-left: 20px;
}
#detailsWrapperStuff .amountBlock .decrease {
  margin-right: 20px;
}
#detailsWrapperStuff .amount {
  font-size: 46px;
}

#detailsWrapperStuff .description {
  color: #fff;
  text-align: center;
  font-size: 16px;
  margin-bottom: 10px;
}

#detailsWrapperStuff .donateBtn {
  text-align: center;
  padding: 12px 8px;
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  font-family: MyriadProBoldItalic;
  background: #4ab2d7;
}
#detailsWrapperStuff .stuffTitle {
  text-align: center;
  color: white;
  font-size: 28px;
  font-weight: 600;
  font-family: MyriadProBoldItalic;
  margin-bottom: 18px;
}
#imageBack {
  position: relative;
}

#imageBack .bg-image {
  position: absolute;
  top: 0;
}